* {
  font-family: Avenir Next; }

@media screen and (max-width: 769px) {
  .row {
    margin-left: 0px !important; }

  .main-header h1 {
    font-size: 36px !important; }
  .main-header h5 {
    font-size: 18px !important; }
  .main-header #button-bron {
    position: absolute;
    display: block;
    width: 90%;
    top: 300px; }
  .main-header #button-about-us {
    display: none; }

  main section article {
    margin-top: 2rem;
    padding: 0 !important; } }
@media screen and (max-width: 769px) and (max-width: 426px) {
  main h3 {
    font-size: 36px !important; }
  main .bedroom-img {
    height: 200px;
    width: 100%; }
  main #map {
    min-height: 600px; }
  main .such-rooms {
    font-size: 24px !important; }
  main .submit-form h3 {
    font-size: 24px !important; }
  main .submit-form h4, main .submit-form button, main .submit-form input {
    font-size: 18px !important; }
  main .submit-form button {
    padding: 17px 50px !important; } }

@media screen and (max-width: 769px) and (max-width: 426px) {
  footer .row {
    margin: 0 !important; }
  footer aside {
    margin-top: 20px;
    font-weight: 600; }
    footer aside img {
      width: 64px !important;
      height: 64px !important;
      margin-bottom: 20px; } }
.main-header {
  width: auto;
  max-width: 100%;
  height: 679px;
  background-image: linear-gradient(270deg, rgba(35, 125, 162, 0.3) 0%, rgba(1, 131, 138, 0.2) 98.12%), url(../img/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white; }
  .main-header h1 {
    font-size: 72px;
    font-weight: 700; }
  .main-header h5 {
    font-size: 36px;
    text-align: left; }
  .main-header button {
    font-size: 28px;
    padding: 10px 50px;
    font-weight: 500;
    border-radius: 12px; }
  .main-header .button-container {
    margin-top: 5rem; }
  .main-header .btn-bron {
    background-color: white;
    border-color: white;
    color: #005673; }
  .main-header .btn-bron:hover {
    background-color: #005673;
    border-color: #005673; }
  .main-header .btn-about-us {
    color: white;
    margin-right: 8rem;
    text-decoration: none; }
  .main-header .btn-about-us:hover {
    color: #005673;
    text-decoration: none; }

main .paint {
  color: #007399; }
main h3 {
  font-size: 48px;
  font-weight: 700; }
main h4 {
  font-size: 36px;
  font-weight: 700; }
main section h6 {
  font-size: 24px; }
main section p {
  font-size: 18px; }
@media screen and (min-width: 769px) {
  main section article:first-child {
    padding-left: 0; } }
main .description-room {
  color: #fff;
  background: linear-gradient(180deg, #01838A 0%, #007399 100%);
  padding: 36px;
  width: 100%;
  height: 25%;
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px; }
  main .description-room h5 {
    font-size: 28px; }
  main .description-room p {
    font-size: 24px; }
  main .description-room .all-photos {
    position: absolute;
    right: 50px;
    top: -40%;
    padding: 10px 25px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer; }
main .position-static {
  position: static; }
main .submit-form h4 {
  font-weight: 400; }
main .submit-form input {
  font-size: 36px;
  border: 0;
  border-bottom: 1px solid #007399;
  padding: 0; }
  main .submit-form input:focus {
    outline: none; }
main .submit-form button {
  font-size: 30px;
  padding: 20px 100px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  color: #fff;
  background-color: #007D90;
  float: right;
  text-transform: uppercase;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer; }
  main .submit-form button:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25); }
  main .submit-form button:focus {
    outline: none;
    background-color: #005F6E; }

footer {
  margin-top: 72px;
  max-width: 100% !important;
  background: linear-gradient(270deg, #01838A 0%, #007399 100%);
  color: #fff;
  font-size: 24px;
  font-weight: 400; }
  footer img {
    margin-right: 16px; }
    footer img:last-child {
      margin-right: 0; }
  footer address {
    margin-bottom: 0; }
    footer address b {
      font-weight: 600; }
  footer aside {
    padding-right: 0; }

.modal-dialog {
  max-width: 90% !important; }

.modal-lg .modal-body {
  padding: 0 !important; }
  .modal-lg .modal-body .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
    display: flex !important; }
  .modal-lg .modal-body img {
    width: 100%; }
  .modal-lg .modal-body .description-room {
    padding: 16px;
    height: 30%;
    color: #000;
    background: #fff;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px; }
    .modal-lg .modal-body .description-room p {
      font-size: 20px; }
  .modal-lg .modal-body .prices {
    padding: 10px;
    border-left: 1px solid #007399; }
  .modal-lg .modal-body button {
    background: #007399;
    color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25); }
  @media screen and (max-width: 769px) {
    .modal-lg .modal-body .description-room h5 {
      font-size: 20px; }
    .modal-lg .modal-body .description-room p {
      font-size: 14px; }
    .modal-lg .modal-body .prices {
      font-size: 14px; } }

@media screen and (max-width: 426px) {
  .modal-lg {
    min-width: 100% !important; }
    .modal-lg .prices {
      border: 0 !important; }

  .modal-dialog {
    margin: 0 !important; }

  .modal-dialog-centered {
    display: block !important; } }
/* JS SLIDER */
/*jssor slider loading skin spin css*/
.jssorl-009-spin img {
  animation-name: jssorl-009-spin;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

@keyframes jssorl-009-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
/*jssor slider bullet skin 032 css*/
.jssorb032 {
  position: absolute; }

.jssorb032 .i {
  position: absolute;
  cursor: pointer; }

.jssorb032 .i .b {
  fill: #fff;
  fill-opacity: 0.7;
  stroke: #000;
  stroke-width: 1200;
  stroke-miterlimit: 10;
  stroke-opacity: 0.25; }

.jssorb032 .i:hover .b {
  fill: #000;
  fill-opacity: .6;
  stroke: #fff;
  stroke-opacity: .35; }

.jssorb032 .iav .b {
  fill: #000;
  fill-opacity: 1;
  stroke: #fff;
  stroke-opacity: .35; }

.jssorb032 .i.idn {
  opacity: .3; }

/*jssor slider arrow skin 051 css*/
.jssora051 {
  display: block;
  position: absolute;
  cursor: pointer; }

.jssora051 .a {
  fill: none;
  stroke: #fff;
  stroke-width: 360;
  stroke-miterlimit: 10; }

.jssora051:hover {
  opacity: .8; }

.jssora051.jssora051dn {
  opacity: .5; }

.jssora051.jssora051ds {
  opacity: .3;
  pointer-events: none; }

/*# sourceMappingURL=main.css.map */
